.books-section {
    composes: features from '../ProductFeatures/ProductFeatures.module.css';
  }
  .books-section h2:first-child {
    font-size: 2.5rem;
    border-bottom: 1px solid var(--header-bg-color);
    padding-bottom: 10px;
    font-weight: 400;
    margin-bottom: 4rem;
    color: var(--header-bg-color);
  }
  
