.toolbar {
    position: fixed;
    width: 100%;
    background: #4769EF;
    top: 0;
    left: 0;
    height: 75px;
    z-index: 5;
    font-family: var(--font-open-sans);
  }
  
.toolbar__navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
  }
  .toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 5.5rem;
  }
  .toolbar__logo a:hover {
    color: #7fffd4;
  }
  .toolbar__navigation-items a {
    text-decoration: none;
    color: white;
  }
  .toolbar__navigation-items a:hover,
  .toolbar__navigation-items a:focus {
    color: #7fffd4;
  }
  .toolbar__navigation-items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .toolbar__navigation-items li {
    padding: 0 1rem;
    font-size: 1.8rem;
  }
  
  .toolbar__hamicon {
    display: none;
    cursor: pointer;
  }
  
  @media (max-width: 630px) {
    .toolbar__hamicon {
      display: block;
    }
    .toolbar__navigation-items {
      display: none;
    }
  }
  