.footer {
    height: 100px;
    background-color:#4769EF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: var(--font-open-sans);
    color: white;
  }
  