.form-section {
    margin-bottom: 3rem;
    font-family: var(--font-open-sans);
  }
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 280px;
  }
  
  .form-container h3 {
    font-size: 2.5rem;
    text-align: center;
  }
  
  .form-container input[type="email"] {
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 300px;
    max-width: 100%;
    border: 1px solid #4769EF;;
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .form .submit {
    display: block;
    border: none;
    width: 200px;
    padding: 15px 15px;
    background-color: #4769EF;
    color: white;
    cursor: pointer;
    margin-top: 2.5rem;
    font-size: 1.5rem;
  }
  